
<hr>

<button (click)="onClickBlue()">BLUE <strong *ngIf="isBlue">Active</strong></button>
<button (click)="onClickRed()"> RED<strong *ngIf="isRed">Active</strong></button>
<button (click)="onClickYellow()">YELLOW <strong *ngIf="isYellow">Active</strong></button>

<div  [ngClass]="{blue: isBlue, red: isRed, yellow:isYellow}">
        <strong>test div!</strong> test div.
</div>

<hr>

<div [ngStyle]="{ 'color': getRandomColor(), 'font-size': font_size, 'background-color': background_color }"> I would be styled with different colors dynamically </div>




