.red{
    padding:50px 50px 50px 50px;
    margin-top:100px;
    height: 100px;
    width: 200px;
    border:1px solid black;
    background-color: red;
}


.blue{
    padding:50px 50px 50px 50px;
    margin-top:100px;
    height: 100px;
    width: 200px;
    border:1px solid black;
    background-color: blue;
}


.yellow{
    padding:50px 50px 50px 50px;
    margin-top:100px;
    height: 100px;
    width: 200px;
    border:1px solid black;
    background-color:yellow;
}